[app:main]
staticdir = %(here)s/brainstorm/static

distill.document_root = brainstorm/templates

sql.dsn = mysql+pg8000://user:pass@localhost:3306/brainstorm

session.timeout = 31556940

debug = true
